body{
   width:100%%;
   height:auto;
   background:#fff;
}
/*Center 开始*/
	.Product_wrap{
		width:100%;
		height:100%;4
	}
	/*中间部分*/
	.Product_content_wrap{
		width:100%;
		height:auto;
		background:#fff;
		/*position:relative;*/
	}
	.Product_content{
		width:1000px;
		height:auto;
		margin:0 auto;
	}
	.Product_content_title{
		color:#16B1BF;
		font-size:30px;
		font-weight:bolder;
		text-align:center;
		letter-spacing:4px;
		margin:50px 0 31px 0;
	}
	/*产品展示*/
	.Product_publicity_wrap{
		width:100%;
		height:auto;
		position:relative;
		overflow:hidden;
	}
	.Product_publicity_content{
		overflow:hidden;
		width:100%;
		height:672px;
	}
	.Product_publicity_content>li{
		width:100%;
		height:100%;
		float:left;
	}
	.Product_publicity_div{
	    width:1000px;
		height:42px;
		margin:40px 0 79px 0;
		border-radius:4px;
	    border-radius:5px;
		display:inline-block;
		text-align:center;
	}
	.Product_publicity_div div{
	   display:inline-block;
       overflow:hidden;
	   border-radius:5px;
	}
	.Product_publicity_div div ul{
	   float:left;
	   height:44px;
	}
	.Product_publicity_content_page{
	   overflow:hidden;
	}
	.nc_page_click{
	   background:#39CCD3 !important;
	}
	.Product_publicity_content_page>li{
		text-align: center;
		width:47px;
		font-size:14px;
		color:#fff;
		height:100%;
		float:left;
		background:#16b1bf;
        transition:0.5s all ease;
		box-sizing:border-box;
		border-right:1px solid #13949F;
		border-bottom: 3px solid #11848E;
		text-decoration: none;
	}
	.Product_publicity_content_page a:hover{
		 background:#39CCD3 !important;
         transition:0.2s all ease !important;
   }
   .Product_publicity_content_page li:hover{
		 background:#39CCD3 !important;
         transition:0.2s all ease !important;
		 cursor:pointer;
   }
   .Product_publicity_content_page li{
      line-height:40px;
	  /* float:left;
	  width:40px; */
   }
	.Product_publicity_borfff{
	    width:46px !important;
		height:41px;
	    float:left;
		margin-right:2px !important;
		background:#16b1bf;
		text-align:center;
		line-height:40px;
		border-bottom: 3px solid #11848E;
	}
	.Product_publicity_borfff:hover{
	   background:#39CCD3;
       transition:0.2s all ease;
	   cursor:pointer;
	}
	.Product_publicity_borno{
	    float:left;
		height:41px;
		border-right:none !important;
		width:46px !important;
		background:#16b1bf;
		line-height:40px;
		text-align:center;
		margin-left:2px;
		border-bottom: 3px solid #11848E;
	}
	.Product_publicity_borno:hover{
	   background:#39CCD3;
       transition:0.2s all ease;
	   cursor:pointer;
	}
	.jingqingqidai{
	   color: #16B1BF;
       font-size: 33px;
	   width:100%;
	   height:100%;
	   text-align:center;
	   line-height:451px;
	   font-weight: bolder;
	}
	/*关爱老人*/
	.Product_publicity_content_one{
		overflow: hidden;
		width:100%;
		height:200px;
	}
	.Product_publicity_content_one li{
		width:148px;
		height:198px;
		float: left;
		margin-right:20px;
		border:1px solid #16B1BF;
		position:relative;
	}
	.Product_publicity_marginno{
		margin-right:-20px !important;
	}
	.Product_publicity_content_one li p{
		position:absolute;
		bottom:0px;
		background:rgba(22,177,191,0.8);
		width:100%;
		height:31px;
		color:#fff;
		font-size:18px;
		text-align: center;
		font-weight: bold;
		line-height: 31px;
		letter-spacing: 1px;
	}
	#Product_sanjiao{
	   position:relative;
       top:1px;
	   left:56px;
	   transition:0.5s all ease;
	}
	.Product_publicity_content_two{
		width:100%;
		height:451px;
		overflow: hidden;
		box-sizing:border-box;
		border:1px solid #16B1BF;
	}
	.Product_publicity_content_two ul{
	    width:100%;
		height:451px;
		overflow: hidden;
		background:#F3FCFD;
	}
	.Product_publicity_content_two ul li{
	   width:33.33%;
	   float:left;
	   text-align:center;
	}
	.Product_block{
		display:block !important;
	}
	.Product_publicity_content_two_tab{
		width:100%;
		height:452px;
		overflow: hidden;
		text-align:center;
	}
	.Product_publicity_content_two_tab a:hover .Product_tab_p{
	    background:rgba(22,177,191,0.2);
		transition:1s all ease;
	}
	.Product_publicity_content_two_tab a:hover .Product_tab_two{
	    color:rgba(22,177,191,1);
		transition:0.8s all ease;
	}
	.Product_publicity_content_two_tab a:hover .Product_tab_two p:first-child{
	    border-bottom:1px solid #16B1BF;
		width:242px;
		height:23px;
		overflow::hidden;
		line-height:23px;
	}
	.Product_publicity_content_two_tab a{
		width:100%;
		height:383px;
		float: left;
		margin-top:69px;
		text-decoration: none;
	}
	.Product_tab div:first-child{
		width:200px;
		height:200px;
		position:relative;
		text-align: center;
	}
	.Product_tab_img{
		margin:0 auto;
	}
	.Product_tab div:first-child img{
		margin-top:47px;
        width:186px;
		height:111px;
	}
	.Product_tab div:first-child p{
		width:200px;
		height:200px;
		position: absolute;
		top:0px;
	}
	.Product_tab_two{
		width:242px;
		height:102px;
		text-align:center;
		margin:20px auto 0 auto;
		color:#000000;
		overflow:hidden;
	}
	.Product_tab_two p:first-child{
		font-size:20px;
		padding-bottom: 9px;
	    border-bottom: 1px solid #000;
		width:242px;
		height:23px;
		overflow:hidden;
		line-height:23px;
	}
	.Product_tab_two p:last-child{
		font-size:14px;
		line-height:23px;
		height:63px;
		overflow:hidden;
	}
	/*中间部分banner*/
	.Product_content_banner{
		width:100%;
		height:120px;
        background-repeat:no-repeat;
		background-size: cover;
		margin-bottom: 60px;
	}
/*Single 开始*/
   .Product_Single_wrap{
   	   width:100%;
   	   height:auto;
   	   position: relative;
   }
   .Product_img_wrap{
      width:1000px;
	  height:472px;
      z-index:300;
	  background-repeat:no-repeat;
   }
   /*single中间部分*/
   .single_content{
   	   width:1100px;
   	   height:auto;
   	   background:url(../img/Product_23.png)no-repeat;
   	   margin:-50px auto 0 auto;
   	   position:relative;
   	   z-index:400;
   }
   /*标题*/
   .single_title{
   	   overflow: hidden;
   }
   .single_title div:first-child{
   	   color:#16B1BF;
   	   font-size:22px;
   	   font-weight: bold;
   	   float: left;
   	   margin:66px 0 0 51px;
	   overflow:hidden;
   }
   .single_title div:first-child a{
       color:#16B1BF;
	   text-decoration:none;
   }
   .single_title div:first-child p,.single_title div:first-child ul{
      float:left;
   }
   .single_title div:first-child ul{
      overflow:hidden;
   }
   .single_title div:first-child ul li{
      float:left;
	  /* display:none; */
	  cursor:pointer;
   }
   .single_title div:first-child ul li:first-child{
      /* display:block; */
   }
   .single_title div:last-child{
   	   float: right;
   	   width:300px;
   	   height:60px;
   	   box-sizing:border-box;
   	   border:2px solid #16B1BF;
   	   overflow: hidden;
   	   margin:50px 49px 0 0px;
   }
   .single_title div:last-child input{
   	   outline: none;
   	   width:233px;
   	   height:56px;
   	   float: left;
   	   border:none;
   	   font-size: 17px;
   	   color:#999999;
   	   padding-left:14px;
	   background:#fff;
   }
   .single_title div:last-child p{
   	   float: left;
   	   margin:5px 0 0 0 ;
   	   cursor: pointer;
	   width:44px;
	   height:46px;
	   background:#16B1BF;
	   text-align:center;
	   line-height:43px;
	   border-radius:3px;
	   transition:0.3s all ease;
   }
   .single_title div:last-child p:hover{
       transition:0.2s all ease;
       background:#39CCD3;
	   border-radius:3px;
   }
   /*具体内容*/
   .single_tab{
   	   overflow: hidden;
       width:calc(100% - 100px);
	   height:auto;
   	   margin:50px 49px 79px 51px;
   }
   /*左边内容*/
   .single_tab_left{
       width:140px;
	   height:auto;
   	   float: left;
   	   overflow: hidden;
   }
   .single_tab_left a{
   	   width:138px;
   	   height:128px;
   }
   .single_tab_left a li{
   	   border:1px solid #16B1BF;
   	   position:relative;
   	   margin-bottom:10px;
   }
   .single_tab_left a li p{
   	   position: absolute;
   	   bottom:0;
   	   width:100%;
   	   height:31px;
   	   color:#fff;
   	   font-size:19px;
   	   font-weight:bold;
   	   line-height:31px;
   	   text-align: center;
   	   background: rgba(22,177,191,0.8);
   }
   /*右边内容*/
   #single_sanjiao{
      width:17px;
	  height:29px;
      position:relative;
	  left:19px;
	  top:74px;
	  transition:0.5s all ease;
	  float:left;
   }
   .single_tab_right{
   	   float: left;
	   width:822px;
   	   height:auto;
   	   padding:40px;
   	   overflow: hidden;
	   box-sizing:border-box;
	   border:1px solid #16B1BF;
	   margin-left:34px;
	   margin-top:-29px;
	   min-height:831px;
   }
   .single_tab_right ul{
   	   width:100%;
   	   height:100%;
       float:left;
   }
   .single_tab_right li{
   	   /* display:none; */
   }
   .single_tab_right li:first-child{
   	   /* display:block; */
   }
   .single_tab_right_one{
   	   width:743px;
   	   height:400px;
   	   overflow: hidden;
   }
   .single_carousel{
   	   width:350px;
   	   height:400px;
   	   box-sizing:border-box;
   	   border:1px solid #16B1BF;
   	   background: #fff;
   	   text-align: center;
   	   padding-top:102px;
   	   float: left;
   }
   .single_carousel_img{
   	   width:295px;
   	   height:175px;
   	   overflow: hidden;
   	   margin:0 auto;
   }
   .single_carousel_img div{
   	   float: left;
	   width:295px;
	   height:175px;
   	   /* display:none; */
   	   box-shadow: -1px 3px 6px #717171;
	   text-align:center;
	   background-repeat:no-repeat;
   }
   .single_carousel_img div:first-child{
      z-index:500;
   }
   .single_carousel_dian{
       text-align:center;
       display:inline-block;
   	   height:20px;
   	   margin:81px auto 0 auto;
   }
   .banner_on{background:url(../img/Product_28.png) !important;background-position:center;background-size:cover;}
   .single_carousel_dian div{
   	   float: left;
   	   width:18px;
   	   height:20px;
   	   margin-right:5px;
   	   background: url(../img/Product_27.png);
   	   background: cover;
   	   cursor: pointer;
   }/* 
   .single_carousel_dian div:first-child{
   	   background: url(../img/Product_28.png);
   } */
   .single_carousel_dian div:last-child{
   	   margin-right: -5px;
   }
   .product_presentation{
   	   width:344px;
   	   height:100%;
   	   float: right;
   }
   .product_presentation_title{
   	   font-size:37px;
   	   color:#000;
   	   padding-bottom: 20px;
   	   border-bottom: 1px solid #666666;
   }
   .product_presentation_con{
   	   width:100%;
   	   height:62px;
   	   text-align:center;
   	   overflow: hidden;
   	   margin:20px 0 44px 0;
   }
   .product_presentation_con a{
   	   text-decoration: none;
   	   color:#000;
   	   font-size:14px;
   	   line-height:22px;
   }
   .single_price{
   	   width:343px;
   	   height:65px;
   	   box-sizing:border-box;
   	   border:1px solid #16B1BF;
   	   overflow: hidden;
   	   background: #fff;
   }
   .single_price span{
   	   display:block;
   	   float:left;
   }
   .single_price span:first-child{
   	   font-size:20px;
   	   color:#666666;
   	   margin:29px 0 0 19px;
   }
   .single_price span:nth-child(2){
   	   font-size:19px;
   	   color:#000;
   	   margin:29px 0 0 31px;
   }
   .single_price span:last-child{
   	   font-size:40px;
   	   color:#16B1BF;
   	   margin:12px 0 0px 1px;
   	   font-weight: border;
   }
   .single_add{
   	   width:156px;
   	   height:40px;
   	   margin-top:30px;
   	   box-sizing:border-box;
   	   border-radius: 4px;
   	   background:#fff;
   	   border:1px solid #16b1bf;
       overflow: hidden;
   }
   .single_add div:first-child{
   	   /* margin-left:90px; */
	   height:38px;
   	   line-height: 38px;
   	   color:#707070;
   	   font-size:17px;
   	   float: left;
   }
   .single_add div:first-child input{
   	   outline: none;
   	   border:none;
   	   width:31px;
   	   height:37px;
	   line-height: 37px;
   	   color:#707070;
   	   font-size:17px;
	   background:#fff;
	   padding-left:90px;
   }
   .single_add div:last-child{
   	   width:32px;
   	   height:38px;
   	   border-radius: 3px;
   	   float: right;
   }
   .single_add div:last-child p{
   	   width:32px;
   	   height:19px;
   	   box-sizing:border-box;
   	   border:1px solid #cbcbcb;
       background: #16b1bf;
       text-align: center;
       line-height: 12px;
       cursor: pointer;
   }
   .single_add div:last-child p:active{
   	   background: #39ccd3;
   }
   .single_buy{
   	  margin-top:21px;
   	  width:343px;
   	  height:60px;
   	  background: #16B1BF;
   	  box-sizing:border-box;
   	  font-size: 30px;
   	  color:#fff;
   	  font-weight:bold;
   	  position:relative;
	  transition:0.1s all ease;
   }
   .single_buy span a{
   	  text-decoration: none;
   }
   .single_buy span:first-child a{
   	   color:#1c6669;
   }
   .single_buy span:last-child a{
   	   color:#fff;
   }
   .single_zi_hover{
   	  color:#1c6669;
   	  position: absolute;
   	  top:8px;
   	  left:109px;
	  display:none;
	  transition:0.1s all ease;
   }
   .single_buy span:last-child{
   	  color:#fff;
   	  position: absolute;
   	  top:10px;
   	  left:111px;
   }
   .single_buy:hover{
      background:#39CCD3;
   	  border-top:2px solid #227a7f;
   	  border-left:2px solid #227a7f;
   }
   .single_buy:hover .single_zi_hover{
      display:block;
   }
   .single_tab_right_two{
      width:100%;
      height: auto;
      margin-top:40px;
   }
   .single_con_two_title{
      color:#16b1bf;
      font-size:30px;
      padding-bottom: 20px;
      border-bottom: 1px solid #16b1bf;
      text-align: center;
   }
   .single_tab_right_two div:nth-child(2){
   	  margin-top:18px;
   }
   .single_tab_right_two div{
   }
   /* .single_tab_right_two div p{
      line-height:26px;
   	  padding-top:222px;
   } */
   .fuwenben{
   	  width:740px;
   	  height:auto;
   	  box-sizing:border-box;/* 
   	  border:1px solid #000; */
   	  margin-bottom:9px;
	  overflow:hidden;
   }
   .single_confoot_banner{
   	   width:100%;
   	   height:120px;
   	   -background: url(../img/Product_31.png);
   	   background: cover;
   	   margin:50px 0 60px 0;
   }
   .single_fixed{
   	   width:46px;
   	   height:147px;
   	   position:fixed;
   	   top:510px;
   	   right:74px;
   	   z-index: 500;
	   cursor:pointer;
   }
   .single_fix{
   	  width:46px;
   	  height:147px;
      position:fixed;
   	  top:510px;
   	  right:78px;
   	  z-index: 500;
	  cursor:pointer;
   }
   .single_fixed li{
   	  width:100%;
   	  height:49px;
   	  background:#16b1bf;
   	  text-align: center;
   	  line-height:49px;
	  transition:0.3s all ease;
   }
   .single_fixed li:hover{
      background:#39CCD3;
   }
